@using MyCourse.Models.ViewModel.Lessons
@model CourseDetailViewModel
<section>
    <div class="row">
        <div class="col-md-9 d-flex align-items-center gap-3">
            <h1>@Model.Title</h1>
            <a asp-controller="Courses" asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@Model.Id"><i class="bi bi-pencil"></i>Modifica</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn btn-warning btn-lg btn-block">Iscriviti</a>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-9">
            <p>@Model.Description</p>
        </div>
        <div class="col-md-3">
            <aside>
                <author> @Model.Author</author>
                <div>
                    <rating value="@Model.Rating"></rating>
                </div>
                <div class="mb-3">
                    <price curren-price="@Model.CurrentPrice" full-price="@Model.FullPrice"></price>
                </div>
                <img src="@Model.ImagePath" width="100" />
            </aside>
        </div>
    </div>
</section>

<section>
    <h2>Lezioni (@Model.Lessons.Count)</h2>
    <hr>
    <div class="list-group">
        @foreach (LessonViewModel lesson in Model.Lessons)
        {
            <div class="row list-group-item d-flex">
                <div class="col-md-9 d-flex align-items-center">
                    <a href="#">@lesson.Name</a>
                </div>
                <div class="col-md-3 d-flex align-items-center">
                    <i class="bi bi-clock me-2"></i><time>@lesson.Duration</time>
                </div>
            </div>
        }
    </div>
</section>