@using MyCourse.Models.Enums
@model CourseEditInputModel

<form method="post" enctype="multipart/form-data">
    <div class="row my-3">
        <div class="col-md-9">
            <h1>@ViewData["Title"]</h1>
            <input type="hidden" asp-for="RowVersion"/>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary btn-lg">Salva</button>
            <button type="button" class="btn btn-danger btn-lg"><i class="bi bi-trash3-fill"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="col-12" asp-validation-summary="All"></div>
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="row">
        <div class="col-md-9">
            <label asp-for="Title"></label>
            <div class="input-group">
                <input type="text" asp-for="Title" class="form-control" />
                <span asp-validation-for="Title"></span>
            </div>
            <label asp-for="Description"></label>
            <div class="input-group">
                <textarea asp-for="Description" class="form-control" rows="15" data-summernote></textarea>
                <span asp-validation-for="Description"></span>
            </div>
        </div>
        <div class="col-md-3 d-flex flex-column justify-content-around">
            <label asp-for="Email"></label>
            <div class="input-group">
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="FullPrice"></label>
                <div class="input-group">
                    <select asp-items="@Html.GetEnumSelectList<Currency>()" asp-for="FullPrice.Currency" class="form-control"></select>
                    <input type="text" asp-for="FullPrice.Amount" />
                    <span asp-validation-for="FullPrice"></span>
                </div>
            </div>
            <div>
                <label asp-for="CurrentPrice"></label>
                <div class="input-group">
                    <select asp-items="@Html.GetEnumSelectList<Currency>()" asp-for="CurrentPrice.Currency" class="form-control"></select>
                    <input type="text" asp-for="CurrentPrice.Amount" />
                    <span asp-validation-for="CurrentPrice"></span>
                </div>
            </div>
            <div class="input-group">
                <label asp-for="ImagePath"></label>
                <div class="preview-container" style="padding-top: 0">
                    <input type="hidden" asp-for="ImagePath">
                    <img id="preview" src="@Model.ImagePath" asp-append-version="true" style="width: 300px">
                </div>
                <div class="custom-file mt-3">
                    <input type="file" class="custom-file-input" asp-for="Image" value="@Model.Image" onchange="updatePreview(this)">
                    <label class="custom-file-label" asp-for="Image"></label>
                    <span asp-validation-for="Image"></span>
                    <p><small>L'immagine verrà ritagliata quadrata.</small></p>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_Validation"></partial>
    <partial name="_SummerNote"></partial>

    <script>
        function updatePreview(inputFile) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#preview').attr('src', e.target.result);
            };
            reader.readAsDataURL(inputFile.files[0]);
        }
    </script>
}