@model List<CourseViewModel>
<div class="row">
    <div class="col-md-8">
        <h1 class="my-2">Catalogo Corsi</h1>
    </div>
    <div class="col-md-4 d-flex align-items-center">
        <form asp-controller="Courses" asp-action="Index" method="get">
            <div class="input-group">
            <input name="search" placeholder="Cerca un corso..." class="border-primary"/>
            <button class="btn btn-outline-primary">
                <i class="bi bi-search"></i>
            </button>
            </div>
        </form>
    </div>

</div>

<section class="list-group my-3">
    @foreach (var course in Model)
    {
        <div class="row align-items-center list-group-item d-flex">
            <div class="col-md-1">
                <img src="@course.ImagePath" width="70" />
            </div>
            <div class="col-md-5">
                <h2>@course.Title</h2>
                <author class="text-secondary">di @course.Author</author>
            </div>
            <div class="col-md-2" title="@course.Rating">
                @for (int i = 1; i <= 5; i++)
                {
                    if (course.Rating >= i)
                    {
                        <i class="bi bi-star-fill text-warning"></i>
                    }
                    else if (course.Rating > i - 1)
                    {
                        <i class="bi bi-star-half text-warning"></i>
                    }
                    else
                    {
                        <i class="bi bi-star"></i>
                    }
                }
            </div>
            <div class="col-md-2">
                @course.CurrentPrice <br /> <s class="text-secondary">@course.FullPrice</s>
            </div>
            <div class="col-md-2">
                <a asp-action="Detail" asp-controller="Courses" asp-route-id="@course.Id" class="btn btn-outline-primary">Dettaglio Corso @course.Id</a>
            </div>
        </div>
    }
</section>

<nav class="d-flex justify-content-center">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" asp-controller="Courses" asp-action="Index" asp-route-page="1">1</a></li>
        <li class="page-item"><a class="page-link" asp-controller="Courses" asp-action="Index" asp-route-page="2">2</a></li>
        <li class="page-item"><a class="page-link" asp-controller="Courses" asp-action="Index" asp-route-page="3">3</a></li>
    </ul>
</nav>