@model CourseListViewModel
<div class="row">
    <div class="col-md-8">
        <h1 class="my-2">Catalogo Corsi</h1>
    </div>
    <div class="col-md-4 d-flex align-items-center">
        <form asp-controller="Courses" asp-action="Index" method="get">
            <div class="input-group">
                <input name="search" value="@Model.Input.Search" placeholder="Cerca un corso..." class="border-primary" />
                <button class="btn btn-outline-primary">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <order-link order-by="Title" Input="@Model.Input">Titolo</order-link>
    </div>
    <div class="col-md-2">
        <order-link order-by="Rating" Input="@Model.Input">Valutazione</order-link>
    </div>
    <div class="col-md-2">
        <order-link order-by="CurrentPrice" Input="@Model.Input">Prezzo</order-link>
    </div>
    <div class="col-md-2"></div>
</div>

<section class="list-group mt-1 mb-3">
    @foreach (var course in Model.Courses.Results)
    {
        <partial name="_CourseLine" model=@course></partial>
    }
</section>

<vc:pagination-bar model="@Model"></vc:pagination-bar>